@import 'color';
@import 'variable';

.btn-transparent {
  background-color: rgba(51, 51, 51, 0.4);
  border-style: none;
  transition: transform .2s linear;

  &:hover{
    background-color: #fff;
    border-style: none;
    color: $black;
    transform: scale(1.1);
    transition: transform .2s linear;
  }
}

.btn-white {
  background-color: rgba($white, 0.8);
  border-style: none;
  color: $black;
  transition: transform .2s linear;

  &:hover{
    background-color: $white-darker;
    border-style: none;
    color: $black;
    transform: scale(1.1);
    transition: transform .2s linear;
  }
}

ul.slick-dots {
  position: absolute;
  right: 0;
  width: auto;
  top: -1.2rem;

  li {
    margin: 0.1rem;
    button:before {
      content: '';
      background-color: $grey;
      height: 0.2rem;
    }

    &.slick-active button:before {
      color: $white
    }
  }
}

a {
  text-decoration: none;
  color: $grey;
  transition: color .2s linear;

  &:hover {
    text-decoration: none;
    color: $white;
    transition: color .2s linear;
  }
}
