// Bootstrap and its default variables
@import '~/node_modules/bootstrap/scss/bootstrap';
// BootstrapVue and its default variables
@import '~/node_modules/bootstrap-vue/src/index.scss';

@import 'color';
@import 'overide';
@import 'animation';
@import 'variable';


body {
  font-family: $font;
  color: $white;
  background: #181818;
  overflow-x: hidden;
  font-size: 16px;
}

.text-white-darker {
  color: $white-darker
}

.cursor-pointer {
  cursor: pointer;
}

.h-auto {
  height: auto;
}

.w-auto {
  width: auto;
}

.text-white-darker {
  color: $white-darker;
}

.top-0 {
  top: 0;
}

.bottom-0 {
  bottom: 0;
}

.right-0 {
  right: 0;
}

.left-0 {
  left: 0;
}

.font-size-smaller {
  font-size: 0.7rem;
}

.font-size-smallest {
  font-size: 0.5rem;
}

.opacity-0 {
  opacity: 0;
}

.opacity-1 {
  opacity: 0;
}

.lr-scroll {
  padding: 0 0 0 4vw;

  .scroll {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;

    .item {
      display: inline-block;

      .content {
        width: 98%;

        .card-movie-title {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}

.showcase {
  position: relative;
  height: 34vw;
  font-size: 1.2vw;
  visibility: hidden;
  display: none;

  &.visible {
    visibility: visible;
    display: block;
  }

  .close-icon {
    font-size: 3rem;
    z-index: 2;
    transition: transform .1s linear;

    &:hover {
      transform: scale(1.1);
      transition: transform .1s linear;
    }
  }

  .bg-gradient {
    &::after {
      background-image: linear-gradient(90deg,#000 0%, #000 40%, transparent);
      display: block;
      content: '';
      height: 100%;
      width: 100%;
      position: relative;
    }
  }

  .video-container {
    padding: 2vw 0;
    width: 100%;
    overflow-y: hidden ;
    overflow-x: auto;
    white-space: nowrap;

    .video-item {
      margin: 0 0.4vw;
      display: inline-block;
      width: auto;
      width: 16vw;
      vertical-align: top;

      .thumbnail{
        cursor: pointer;
        padding: .5vw;
        margin-bottom: 1vw ;
        height: 9vw;
        background-size: cover;
        position: relative;
        display: flex;

        .hover {
          transition: opacity .2s linear;
          opacity: 0;
          position: absolute;
          height: auto;
          width: auto;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          &:hover {
            color: red;
            transition: color .2s linear;
          }
        }

        &:hover .hover {
          opacity: 1;
          transition: opacity .2s linear;
        }
      }

      .title {
        width: inherit;
        color: $white-darker;
        white-space: normal;
      }
    }
  }
}