// Bootstrap and its default variables
@import '~/node_modules/bootstrap/scss/bootstrap';
// BootstrapVue and its default variables
@import '~/node_modules/bootstrap-vue/src/index.scss';

@import 'color';
@import 'overide';
@import 'variable';


body {
  font-family: $font;
  color: $white;
  background: #181818;
  overflow-x: hidden;
  font-size: 16px;
}

.text-white-darker {
  color: $white-darker
}

.cursor-pointer {
  cursor: pointer;
}

.h-auto {
  height: auto;
}

.w-auto {
  width: auto;
}

.text-white-darker {
  color: $white-darker;
}

.top-0 {
  top: 0;
}

.bottom-0 {
  bottom: 0;
}

.right-0 {
  right: 0;
}

.left-0 {
  left: 0;
}

.font-size-smaller {
  font-size: 0.7rem;
}

.font-size-smallest {
  font-size: 0.5rem;
}

.opacity-0 {
  opacity: 0;
}

.opacity-1 {
  opacity: 0;
}

.lr-scroll {
  padding: 0 0 0 4vw;

  .scroll {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;

    .item {
      display: inline-block;

      .content {
        width: 98%;

        .card-movie-title {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
