// Bootstrap and its default variables
@import '~/node_modules/bootstrap/scss/bootstrap';
// BootstrapVue and its default variables
@import '~/node_modules/bootstrap-vue/src/index.scss';
@import '~/node_modules/plyr/dist/plyr.css';

@import 'color';
@import 'overide';
@import 'animation';
@import 'variable';

* {box-sizing: border-box; outline: 0px;}

body {
  font-family: $font;
  margin: 0px;
  color: $white;
  background: $black;
  overflow-x: hidden;
}

.margined-container {
  width: calc(100% - 8vw);
  margin: 0 4vw;
}

.text-white-darker {
  color: $white-darker
}

.lr-slider{
  display: block;
  position: relative;

  h2.title{
    margin: 0;
    padding: 0;
    position: absolute;
    display: block;
    font-size: 1.6vw;
    font-weight: 600;
    margin: 0 calc(4vw + 4px);
    z-index: 2;
  }

  .slider {
    margin: 0 4vw;
    opacity: 1;
    transition: opacity .2 linear;
  }

  ul.lr-slider-slide {
    padding: 0;
    margin: 0;
    list-style: none;
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    white-space: nowrap;
    font-size: 0;
    margin: 4vw 0;

    li {
      display: inline-block;
      height: auto;
      padding: 1vw 2px;
      overflow: hidden;
      cursor: pointer;
      
      .card-movie-title {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -10%);
        font-size: 1vw;
        color: #fff;
        font-weight: 800;
        text-shadow: 0 1px 1px rgba($black, 0.6);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }

      .img {
        display: block;
        position: relative;
        width: 100%;
        height: 0px;
        padding-top: 56%;
        background-size: cover;
        transform-origin: top right;

        &:after {
          content:"";
          display: block;
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: 1;
          width: 100%;
          height: 100%;
          opacity: 0;
          background: linear-gradient(to bottom, rgba($black,0) 0%,rgba($black,1) 100%);
          transition: all .5s ease .2s
        }

        img {
          display: block;
          position: absolute;
          top: 0px;
          left: 0px;
          width: 100%;
          height: 100%;
        }

        .selected {
          border: .4vw solid;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 1;
          z-index: 100;

          &::after {
            content: '';
            width: 0;
            height: 0;
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -20px;
            border-style: solid;
            border-width: 10px 20px 0 20px;
            margin-top: 3px;
            border-color: #fff transparent transparent transparent;
          }
        }
      }

      .card-info {
        display: block;
        position: absolute;
        top: 10%;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 90%;
        text-shadow: 0 1px 1px rgba($black, 0.6);
        opacity: 0;
        
        .caption-bg {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          background: linear-gradient(to bottom, rgba($black,0) 0%,rgba($black,1) 100%);
          
          .caption-content {
            position: absolute;
            bottom: 10%;

            h3 {
              margin-bottom: .2vw;
              display: block;
              width: 100%;
              font-size: .7vw;
              padding: 0 5%;
              font-weight: 600;
            }

            .info {
              margin-bottom: .2vw;
              display: block;
              width: 100%;
              font-size: 0;
              padding: 0 5%;
              font-size: .5vw;

              .year {
                display: inline-block;
                width: auto;
                font-weight: 600;
                margin-right: .2vw;
                color: $match;
              }

              .age {
                font-family: $font;
                display: inline-block;
                position: relative;
                width: auto;
                padding: 0 0.4em;
                margin-right: .2vw;
              }

              .dur {
                display: inline-block;
                width: auto;
              }
            }

            .tags {
              display: block;
              width: 100%;
              padding: 0 5%;

              span {
                display: inline-block;
                width: auto;
                font-size: .5vw;
                margin: 0 .1vw 0 0;

                &:after {
                  content:"â—";
                  display: inline-block;
                  margin: 0 0 0 .1vw;
                  font-size: .8 xvw;
                  text-shadow: 0 1px 1px rgba(0, 0, 0, 0);
                  color: rgba($white, 0.4);
                }

                &:last-child:after {
                  display: none;
                }
              }
            }
          }
        }
      }

      &:hover {
        .img:after {
          opacity: 1;
        }
      }

      &:first-child {transform-origin: 0px center;}
      &:last-child {transform-origin: 100% center;}
    }
  }
  li, li * {
    transition: all .5s ease .2s 
  }
}

.lr-scroll {
  padding: 0 0 0 4vw;

  .scroll {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;

    .item {
      display: inline-block;

      .content {
        width: 98%;

        .card-movie-title {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}

.showcase {
  position: relative;
  height: 32vw;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  font-size: 1vw;
  margin-top: .25vw;
  top: -5vw;
  visibility: hidden;
  display: none;

  &.visible {
    visibility: visible;
    display: block;
  }

  .close-icon {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    padding: 1vw 2vw 2vw 2vw;
    font-size: 3vw;
    z-index: 2;
    transition: transform .1s linear;

    &:hover {
      transform: scale(1.1);
      transition: transform .1s linear;
    }
  }

  .bg-gradient {
    height: 100%;
    width: 100%;
    position: absolute;

    &::after {
      background-image: linear-gradient(90deg,#000 0%, #000 48%, transparent);
      display: block;
      content: '';
      height: 100%;
      width: 100%;
      position: relative;
    }

    & > div {
      height: 100%;
      width: 60%;
      position: absolute;
      right: 0;

      img {
        height: 100%;
        width: 100%;
        position: absolute;
        right: 0;
      }
    }
  }

  .showcase-container {
    width: 64%;
    padding: 4vw;

    h2 {
      cursor: pointer;
      font-size: 2.5vw;
      text-shadow: 0 1px 1px rgba($black, 0.6);
    }

    .info {
      display: block;
      width: 100%;

      .year {
        display: inline-block;
        width: auto;
        margin-right: .4vw;
        color: $match;
      }

      .age {
        font-family: $font;
        display: inline-block;
        position: relative;
        width: auto;
        line-height: normal;
        padding: 0 0.4em;
        margin-right: .4vw;
        border: solid 1px rgba($white, 0.4);
      }

      .dur {
        display: inline-block;
        width: auto;
      }
    }

    .plot {
      width: 80%;
      color: $white-darker;
    }

    .btn {
      border-radius: 0;
      font-size: inherit;
      transition: transform .2s linear;

      &:hover{
        transform: scale(1.1);
        transition: transform .2s linear;
      }
    }

    .actor span,
    .genre span{
      color: $white-darker;

      &::after {
        content: ",";
        display: inline-block;
      }

      &:last-child:after {
        display: none;
      }
    }
  }

  .showcase-detail {
    .section {
      .title {
        color: $white-darker;
        cursor: default;
      }
      .body {
        font-size: .9vw;
        color: $white;

        .item {
          display: block;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .video-container {
    padding: 2vw 0;
    width: 100%;
    overflow-y: hidden ;
    overflow-x: auto;
    white-space: nowrap;
  
    .video-item {
      margin: 0 0.4vw;
      display: inline-block;
      width: auto;
      width: 16vw;
      vertical-align: top;
  
      .thumbnail{
        cursor: pointer;
        padding: .5vw;
        margin-bottom: 1vw ;
        height: 9vw;
        background-size: cover;
        position: relative;
        display: flex;

        .hover {
          transition: opacity .2s linear;
          opacity: 0;
          position: absolute;
          height: auto;
          width: auto;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          &:hover {
            color: red;
            transition: color .2s linear;
          }
        }

        &:hover .hover {
          opacity: 1;
          transition: opacity .2s linear;
        }
      }
  
      .title {
        width: inherit;
        color: $white-darker;
        white-space: normal;
      }
    }
  }
}

.lr-player {
  .title {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    background: #141414;
    font-size: clamp(1rem, 1.2vw, 1.5rem);
    padding-left: 3vw;
  }

  .player {
    height: 100vh;
  }
}